<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jbnu.project1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".FindActivity" />
        <activity android:name=".Firelogin" />
        <activity android:name=".Firesign" />
        <activity android:name=".Splash" />
        <activity android:name=".pointlist" />
        <activity android:name=".language" />
        <activity android:name=".notice" />
        <activity android:name=".SearchBook" />
        <activity android:name=".BookList" />
        <activity android:name=".RedBelt" />
        <activity android:name=".BlueBelt" />
        <activity android:name=".YellowBelt" />
        <activity android:name=".WhiteBelt" />
        <activity android:name=".BeltActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAyN0I8y8-JUUnOpzsI5ZrgMjp3SDdQox0" />

        <activity
            android:name=".Map"
            android:label="교내 편의 시설 위치 정보" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>